@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styles */
body {
  margin: 0;
  background-color: #0A1E3F;  /* night-blue */
  font-family: 'Georgia', serif;
  color: #CBD5E1; /* moon-gray */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
